/* Réinitialiser les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 3px solid black;
    background: linear-gradient(to right, #feb0ab, white, #feb0ab);
}
/* Styliser le header */
/* Styliser le header */
header .image {
    /* Image de fond */
    background-image: url('/public/image/ecriture.png'), url('/public/image/fondentete.png');
    background-size: auto, auto; /* Couvrir l'espace disponible */
    background-position: center, center; /* Centrer les images */
    background-repeat: no-repeat, no-repeat; /* Ne pas répéter les images */
    height: 300px; /* Hauteur de l'en-tête */
    width: auto; /* Occupe toute la largeur de l'écran */
    overflow: hidden, hidden; /* S'assurer que tout débordement est caché */
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
   
}

/* Styliser le contenu de l'en-tête */
.header-content {
    /* Styles spécifiques au contenu de l'en-tête */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

/* Menu stylisé */
.menu {
    /* Styles spécifiques au menu */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    width: 1920px; /* Occupe toute la largeur disponible */
    padding: 0;
    text-decoration: none;        /* Suppression du soulignement */
    background-color: #e8d9c6; 
    margin-top: -40px;
    background-size: 100%;
    border: 2px solid black; /* Bordure de 1px, solide, noire */
    padding: 10px; /* Ajouter un padding pour espacer le contenu de la bordure */
    margin: 0%; 
    margin-top: -18px;
    
}

.menu ul {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    gap: 120px; /* Espacement entre les éléments du menu */
    margin-top: 23px;
    height: 19px;
}

.menu li {
    /* Styles spécifiques aux éléments li du menu */
    padding: 10px 20px;
    list-style-type: none; /* Supprimer le style de puce */
    
    }
    
    .menu li a {
        /* Styles spécifiques aux liens du menu */
        text-decoration: none;
        color: rgb(5, 1, 4);
        font-size: 23px;
        text-align: center;
        font-family: cursive;
        text-shadow: 1px 3px rgb(210, 175, 145) ;
        padding: 9px;
        font-style: italic;
        
}

.contenu{
    display: grid;
    grid-template-columns: auto 1fr; /* Deux colonnes, la première pour l'image et la seconde pour le texte */
    align-items: center; /* Centre le texte verticalement par rapport à l'image */
    gap: 20px; /* Espace entre les colonnes */
    margin-left: 185px;
    margin-top: 75px;
}

.imagenfant {
    display: inline-block;
            border: 5px solid black; /* Couleur et taille de la bordure */
            border-radius: 50%; /* Forme circulaire */
            overflow: hidden; /* Assure que l'image ne déborde pas du conteneur */
            width: 600px; /* Largeur du conteneur */
            height: 850px; /* Hauteur du conteneur */
    }
    
    .imagenfant img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Couvre tout le conteneur en gardant les proportions */
        border-radius: 50% / 55%;
}

@font-face {
    font-family: "BritishMuseum";
    src:
      local("BritishMuseum"),
      url("../public/image/BritishMuseum.woff2") format("woff2"),
      url("../public/image/BritishMuseum.woff") format("woff"),
      url("../public/image/BritishMuseum.ttf") format("truetype");
    }
.contenu p{
    margin-left: 80px;
    margin-right: 40px;
    margin-top: -20px;
    text-align: center;
    font-size: 30px;
    
}
.contenu p1{
    font-size: 50px;
    font-family: BritishMuseum;
    color: black;
    
}

footer {
    margin-top: 40px;
    background-color: #0b0b0b;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    /* Assurez-vous qu'il n'est pas caché par d'autres éléments */
    z-index: 1;
}

footer p{
    color: #e8d9c6;
}

.rectangle{
    background-color: rgba(255, 255, 255, 0.5); /* Blanc avec une opacité de 50% */
    border: 1px solid #000; /* Optionnel: Bordure noire pour visualiser le rectangle */
    width: auto;
    height: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

h2{
    display: inline-block; /* Pour que le rectangle s'adapte à la largeur du texte */
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center; /* Centre le texte à l'intérieur du rectangle */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}

.textateliers{
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ateliers1{
    text-align: center;
}

.p4{
    font-size: 28px;
    margin-left: -650px;
    margin-top: 30px;
}

.p5{
    font-size: 30px;
    margin-left: -650px;
    margin-top: 100px;

}

.photoanniversaire{
    margin-top: -775px;
    margin-left: 900px;
    margin-top: -890px;
}

#image1{
    height: 78%;
    margin-left: -10px;
    margin-top: -100px;
}

#image2{
    height: 72%;
    margin-left: 50px;
    margin-top: -100px;
}

#image3{
    height: 72%;
    margin-left: 50px;
    margin-top: -100px;
}

#image4{
    height: 72%;
    margin-left: 50px;
    margin-top: -100px;
}
/* 
.visible {
    opacity: 1;
}
.fade-in-image {
    opacity: 0.5;
    transition: opacity 2s ease-in-out;
} */

.photoateliers{
    font-size: 30px;
}

.photoateliers, p7{
    text-align: left;
    margin-left: 80px;
}

p10{
    font-size: 50px;
    font-family: BritishMuseum;
    margin-top: 50px;
    border: 3px solid black; /* Epaisseur de 2px, style plein, couleur noire */
    padding: 10px; /* Espace à l'intérieur de la bordure */
    display: inline-block; /* Pour que la bordure soit ajustée au contenu du texte*/
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Ombre : décalage x, décalage y, flou, couleur */
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
p8{
    margin-left: 160px;
}

p9{
    margin-left: 100px;
}

p11{
    margin-left: 50px;
}

p12{
    font-size: 35px;
    font-family: BritishMuseum;
    width: 85%;
    margin-top: 40px;
    border: 1px solid black; /* Epaisseur de 2px, style plein, couleur noire */
    padding: 20px; /* Espace à l'intérieur de la bordure */
    display: inline-block; /* Pour que la bordure soit ajustée au contenu du texte*/
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5); /* Ombre : décalage x, décalage y, flou, couleur */
    margin-left: 30px;
}
/* Styles du carrousel */
.carousel {
    position: relative;
    width: 100%; /* Ajustez cette valeur selon la taille souhaitée du carrousel */
    margin: auto;
    overflow: hidden; /* Masque les parties des images qui sortent du conteneur */
    max-width: 600px; /* Ajustez la largeur maximale selon vos besoins */
    height: 900px; /* Ajustez la hauteur du carrousel */
    margin-left: -10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.9s ease-in-out; /* Animation fluide pour le défilement */
    width: 100%; /* Le conteneur des images occupe toute la largeur du carrousel */
}

.carousel-images img {
    width: 100%; /* Chaque image prend toute la largeur du carrousel */
    height: auto; /* Conserve les proportions de l'image */
    flex-shrink: 0; /* Empêche les images de rétrécir */
}

/* Boutons de navigation du carrousel */
.carousel-button {
    position: absolute;
    top: 50%;
    width: 50px; /* Ajustez la taille des boutons si nécessaire */
    height: 50px; /* Ajustez la taille des boutons si nécessaire */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    border-radius: 50%; /* Pour rendre les boutons ronds */
    transform: translateY(-50%); /* Centre le bouton verticalement */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button.left {
    left: 10px; /* Ajoute une marge pour éviter que le bouton ne touche le bord */
}

.carousel-button.right {
    right: 10px; /* Ajoute une marge pour éviter que le bouton ne touche le bord */
}

#table2{
    height: 1000px;
    width: 600px;
    justify-content: center;
    align-items: center;

}

#table1{
    height: 1000px;
    width: 600px;
}

#table3{
    height: 1000px;
    width: 600px;
}

.texteparty{
    margin-top: -80px;
}

p13{
    text-align: right;
}

* Style pour le texte à droite du carrousel */
.animationphoto {
    width: 650px; /* Ajuste la largeur selon vos besoins */
    text-align: left; /* Aligne le texte à gauche */
    padding: 20px; /* Ajoute du padding autour du texte */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    background-color: #f9f9f9; /* Couleur de fond (ajustez si nécessaire) */
    margin-top: 200px;
    height: auto;
    
}

/* Style des paragraphes à l'intérieur de animationphoto */
.p13 {
    font-size: 16px; /* Ajustez la taille de la police */
    line-height: 1.5; /* Améliore la lisibilité */
    color: #333; /* Couleur du texte (ajustez si nécessaire) */
    margin: 0; /* Supprime les marges par défaut */
    width: 100%;
   
}
.container {
    display: flex; /* Utilise Flexbox pour l'alignement côte à côte */
    margin-right: -150px;
    justify-content: space-between; /* Ajoute de l'espace entre le carrousel et le texte */
    margin: 20px auto; /* Ajuste les marges si nécessaire */
    gap: 20px; /* Ajoute de l'espace entre le carrousel et le texte */
   
    
}

.animationphoto, p13{
    margin-top: 250px;
   font-size: 30px;
   margin-left: 80px;
   text-align: center;
   
}

.p15 {
    font-size: 47px;
    text-align: center; /* Centre le texte à l'intérieur de l'élément */
    margin: 80px auto; /* Centre l'élément horizontalement */
    font-family: 'BritishMuseum'; /* Assurez-vous que la police est chargée */
    border: 2px solid #000; /* Bordure noire pour visualiser le rectangle */
    border-radius: 15px; /* Rayon des coins arrondis */
    padding: 25px;
    display: inline-block; /* S'adapte à la taille du texte */
    

}


.rectangle2{
    background-image: url('/public/image/macaron.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    border: 2px solid #000; /* Optionnel: Bordure noire pour visualiser le rectangle */
    border-radius: 15px; /* Rayon des coins arrondis */
    width: 80%;
    height: 3400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
}

p16{
    font-size: 30px;
    font-family: 'BritishMuseum'; /* Assurez-vous que la police est chargée */
}

.p17{
        font-size: 32px;
        font-family: 'BritishMuseum'; /* Assurez-vous que la police est chargée */
        margin-top: -145px;
        position: relative;
        display: flex;
        margin-left: 11%;     
}

.gateaux{
    margin-top: -145px;
    height: 550px;
    position: relative;
    display: inline-block;
}

p18{
    font-size: 45px;
    font-family: 'BritishMuseum'; /* Assurez-vous que la police est chargée */
}

p19{
    font-size: 35px;
    font-family: 'BritishMuseum'; /* Assurez-vous que la police est chargée */
    border: 2px solid #000; /* Optionnel: Bordure noire pour visualiser le rectangle */
    border-radius: 15px; /* Rayon des coins arrondis */
    padding: 20px;
}

p20{
    font-size: 35px;
    font-family: 'BritishMuseum'; /* Assurez-vous que la police est chargée */
}

.insta{
    max-width: 150px; /* Limite la taille de l'image */
    height: 140%;
    margin-right: 350px;
}

.p21{
    flex: 3; /* Le texte prend tout l'espace disponible */
    color: #e8d9c6;
    text-align: left;
    margin-left: 10%;
    margin-top: auto;
    font-size: 20px;
}
.foot {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
    justify-content: space-between; /* Espace entre les éléments */
    padding: 3px;
    height: 50px;
}

.p22{
    flex: 3; /* Le texte prend tout l'espace disponible */
    color: #e8d9c6;
    text-align: left;
    margin-left: 35%;
    margin-top: auto;
    font-size: 20px;
}
