/* Réinitialiser les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: -150px;
    
}


/* Styliser le header */
header .image{
    /* Image de fond */
    background-image: url('/public/image/ecriture.png'), url('/public/image/fondentete.png');
    background-size: auto, cover; /* Couvrir l'espace disponible */
    background-position: center, center; /* Centrer les images */
    background-repeat: no-repeat, no-repeat; /* Ne pas répéter les images */
    height: 300px; /* Hauteur de l'en-tête */
    width: 120%; /* Occupe toute la largeur de l'écran */
    overflow: hidden; /* S'assurer que tout débordement est caché */
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}


.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    height: 100%; /* Pour occuper toute la hauteur disponible */
    margin-top: -440px;
    list-style-type: none; /* Supprime les puces par défaut */
    
}
   
.home{
    list-style-type: none; /* Supprime les puces par défaut */
}



/* Réinitialiser les marges et paddings de html et body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Eviter le débordement horizontal */
    align-items: center;
}