/* Réinitialiser les marges et paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border: 3px solid black;
    background: linear-gradient(to right, #feb0ab, white, #feb0ab);
}
/* Styliser le header */
/* Styliser le header */
header .image {
    /* Image de fond */
    background-image: url('/public/image/ecriture.png'), url('/public/image/fondentete.png');
    background-size: auto, auto; /* Couvrir l'espace disponible */
    background-position: center, center; /* Centrer les images */
    background-repeat: no-repeat, no-repeat; /* Ne pas répéter les images */
    height: 300px; /* Hauteur de l'en-tête */
    width: auto; /* Occupe toute la largeur de l'écran */
    overflow: hidden, hidden; /* S'assurer que tout débordement est caché */
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
   
}

/* Styliser le contenu de l'en-tête */
.header-content {
    /* Styles spécifiques au contenu de l'en-tête */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

/* Menu stylisé */
.menu {
    /* Styles spécifiques au menu */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    width: 1920px; /* Occupe toute la largeur disponible */
    padding: 0;
    text-decoration: none;        /* Suppression du soulignement */
    background-color: #e8d9c6; 
    margin-top: -40px;
    background-size: 100%;
    border: 2px solid black; /* Bordure de 1px, solide, noire */
    padding: 10px; /* Ajouter un padding pour espacer le contenu de la bordure */
    margin: 0%; 
    margin-top: -18px;
    
}

.menu ul {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    gap: 120px; /* Espacement entre les éléments du menu */
    margin-top: 23px;
    height: 19px;
}

.menu li {
    /* Styles spécifiques aux éléments li du menu */
    padding: 10px 20px;
    list-style-type: none; /* Supprimer le style de puce */
    
    }
    
    .menu li a {
        /* Styles spécifiques aux liens du menu */
        text-decoration: none;
        color: rgb(5, 1, 4);
        font-size: 23px;
        text-align: center;
        font-family: cursive;
        text-shadow: 1px 3px rgb(210, 175, 145) ;
        padding: 9px;
        font-style: italic;
        
}

.contenu{
    display: grid;
    grid-template-columns: auto 1fr; /* Deux colonnes, la première pour l'image et la seconde pour le texte */
    align-items: center; /* Centre le texte verticalement par rapport à l'image */
    gap: 20px; /* Espace entre les colonnes */
    margin-left: 185px;
    margin-top: 75px;
}

.imagenfant {
    display: inline-block;
            border: 5px solid black; /* Couleur et taille de la bordure */
            border-radius: 50%; /* Forme circulaire */
            overflow: hidden; /* Assure que l'image ne déborde pas du conteneur */
            width: 600px; /* Largeur du conteneur */
            height: 850px; /* Hauteur du conteneur */
    }
    
    .imagenfant img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; /* Couvre tout le conteneur en gardant les proportions */
        border-radius: 50% / 55%;
}

@font-face {
    font-family: "BritishMuseum";
    src:
      local("BritishMuseum"),
      url("../public/image/BritishMuseum.woff2") format("woff2"),
      url("../public/image/BritishMuseum.woff") format("woff"),
      url("../public/image/BritishMuseum.ttf") format("truetype");
    }
.contenu p{
    margin-left: 80px;
    margin-right: 40px;
    margin-top: -20px;
    text-align: center;
    font-size: 30px;
    
}
.contenu p1{
    font-size: 50px;
    font-family: BritishMuseum;
    color: black;
    
}

footer {
    margin-top: 40px;
    background-color: #0b0b0b;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    /* Assurez-vous qu'il n'est pas caché par d'autres éléments */
    z-index: 1;
}

footer p{
    color: #e8d9c6;
}